@use "../abstracts/queries";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Setting a fixed height makes dealing with sticky positioning later a lot easier
  height: 96px;

  padding: 0 48px;
  background-color: var(--color-brand-light-1);

  @include queries.respondTo(tablet-landscape-below) {
    padding: 0 30px;
  }
}

.logo {
  height: 22px;
}

.main-nav {
  &__links {
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;

    @include queries.respondTo(tablet-landscape-below) {
      gap: 30px;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      color: var(--color-gray-dark);
      font-size: var(--font-size-default);
      font-weight: var(--font-weight-medium);
      text-decoration: none;
      transition: color 900ms;
    }

    &:hover,
    &:active {
      color: var(--color-brand-dark-1);
      transition: color 600ms;
    }
  }

  &__link--cta {
    &,
    &:link,
    &:visited {
      padding: 12px 24px;
      border-radius: var(--radius-default);
      background-color: var(--color-brand);
      color: white;
      transition: background-color 900ms;
    }

    &:hover,
    &:active {
      background-color: var(--color-brand-dark-1);
      transition: background-color 600ms;
    }
  }
}
