.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Setting a fixed height makes dealing with sticky positioning later a lot easier
  height: 96px;

  padding: 0 48px;
  background-color: var(--color-brand-light);
}

.logo {
  height: 22px;
}

.main-nav {
  &__links {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      color: var(--color-gray-dark);
      font-size: 1.125rem;
      font-weight: var(--font-weight-medium);
      text-decoration: none;
      transition: color 900ms;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--color-brand-dark);
      transition: color 600ms;
    }
  }

  &__link--cta {
    &,
    &:link,
    &:visited {
      padding: 12px 24px;
      border-radius: var(--radius-default);
      background-color: var(--color-brand);
      color: white;
      transition: background-color 900ms;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-brand-dark);
      transition: background-color 600ms;
    }
  }
}
