.section-hero {
  background-color: var(--color-brand-light-1);
  padding: 48px 0 96px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;

  &__description {
    margin-bottom: 48px;
    font-size: 1.25rem;
    line-height: var(--line-height-paragraph);
  }

  &__img {
    width: 100%;
  }
}

.section-how {
  padding: 96px 0;
}

.step {
  &__number {
    margin-bottom: 12px;
    color: var(--color-gray-light-1);
    font-size: 5.375rem;
    font-weight: var(--font-weight-semibold);
  }

  &__description {
    font-size: 1.125rem;
    line-height: var(--line-height-paragraph);
  }

  &__img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      border-radius: 50%;
    }

    &::before {
      width: 60%;
      // Gets 60% of parent's width
      padding-bottom: 60%;
      background-color: var(--color-brand-light-1);
    }

    &::after {
      width: 50%;
      // Gets 50% of parent's width
      padding-bottom: 50%;
      background-color: var(--color-brand-light-2);
    }
  }

  &__img {
    width: 35%;
    z-index: 1;
  }
}

.all-recipes {
  text-align: center;
  font-size: 1.125rem;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: var(--color-brand-light-1);
}
