.container {
  margin: 8rem auto;
  max-width: 120rem;
  background-color: var(--color-gray-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  display: flex;
  height: 7rem;
  font-size: 1.4rem;
  background-color: #FFF;
  border-bottom: 1px solid var(--color-gray-light-1);
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-gray-dark-1);
}

.hotel {
  height: 80rem;
  background-color: #FFF;
  flex: 1;
}