@use "../abstracts/queries";

:root {
  // TYPOGRAPHY SYSTEM
  /*
    FONT SIZE SYSTEM [px (rem)]
    10 (0.625)
    12 (0.75)
    14 (0.875)
    16 (1) 
    18 (1.125)
    20 (1.25)
    24 (1.5)
    30 (1.875)
    36 (2.25)
    44 (2.75)
    52 (3.25)
    62 (3.875)
    74 (4.625)
    86 (5.375)
    98 (6.125)
  */
  --font-size-small: 1rem;
  --font-size-default: 1.125rem;
  --font-size-medium: 1.25rem;

  --font-size-icon: 1.5rem;

  // Font weights
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // Line heights
  --line-height-default: 1;
  --line-height-small: 1.05;
  --line-height-medium: 1.2;
  --line-height-large: 1.8;
  --line-height-paragraph: 1.6;

  // COLORS

  // Primary
  --color-brand: hsl(28deg 80% 52%);

  // Tints
  --color-brand-light-1: hsl(27deg 83% 95%);
  --color-brand-light-2: hsl(27deg 80% 90%);
  --color-brand-light-3: hsl(28deg 80% 61%);

  // Shades
  --color-brand-dark-1: hsl(28deg 74% 47%);
  --color-brand-dark-2: hsl(28deg 75% 15%);

  // Accents

  // Grays
  --color-gray: hsl(0deg 0% 33%);
  --color-gray-light-1: hsl(0deg 0% 87%);
  --color-gray-light-2: hsl(0deg 0% 53%);
  --color-gray-dark: hsl(0deg 0% 20%);
  // Lightest gray allowed on white
  --color-gray-accessible-1: hsl(0deg 0% 46%);
  // Lightest gray allowed on color-brand-light-1
  --color-gray-accessible-2: hsl(0deg 0% 44%);

  // SHADOWS
  --shadow-default: 0 24px 48px hsl(0deg 0% 0% / 0.075);
  --shadow-raised: 0 32px 64px hsl(0deg 0% 0% / 0.06);

  // BORDER-RADIUS
  --radius-default: 9px;
  --radius-medium: 11px;

  // WHITESPACE
  /*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

  @include queries.respondTo(tablet-landscape-below) {
    --font-size-small: 0.875rem;
    --font-size-default: 1rem;
    --font-size-medium: 1.125rem;

    --font-size-icon: 1.25rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px hsl(28deg 80% 52% / 0.5);
}
