.realtors {
  display: grid;
  padding: 3rem;
  background-color: $color-secondary;
  grid-row-gap: 2rem;
  grid-column: col-start 7 / full-end;
  justify-items: center;
  justify-content: center;
  align-content: center;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
  }

  &__img {
    display: block;
    width: 7rem;
    border-radius: 50%;
  }

  &__sold {
    margin-top: -3px;
    color: $color-grey-light-2;
    text-transform: uppercase;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;

    &__list {
      grid-template-columns: repeat(3, min-content max-content);
    }
  }

  @media only screen and (max-width: $bp-small) {
    &__list {
      grid-template-columns: min-content max-content;
    }
  }
}
