@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin column($part, $max) {
  .col-#{$part}-of-#{$max} {
    width: calc(
      #{$part} * (100% - (#{$max} - 1) * #{$gutter-horizontal}) / #{$max} +
        (#{$part} - 1) * #{$gutter-horizontal}
    );
  }
}
