.diets {
}

.diet-list {
  list-style: none;
}

.diet {
  display: flex;
  align-items: center;
  gap: 16px;

  &__icon {
    color: var(--color-brand);
    font-size: 1.875rem;
  }

  &__name {
    font-size: 1.125rem;
  }
}
