.feature {
  &__icon {
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--color-brand-light-1);
    color: var(--color-brand);
    font-size: var(--font-size-icon);
  }

  &__title {
    margin-bottom: 16px;
    color: var(--color-gray-dark);
    font-size: var(--font-size-icon);
    font-weight: var(--font-weight-bold);
  }

  &__text {
    font-size: var(--font-size-default);
    line-height: var(--line-height-large);
  }
}
