@use "../abstracts/queries";

.icon-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__icon {
    color: var(--color-brand);
    font-size: 1.875rem;

    @include queries.respondTo(tablet-landscape-below) {
      font-size: 1.5rem;
    }

    @include queries.respondTo(tablet-portrait-below) {
      font-size: 1.25rem;
    }
  }

  &__text {
    font-size: var(--font-size-default);
  }
}
