.section-pricing {
  padding: 96px 0;
}

.plan {
  width: 75%;
  border-radius: var(--radius-medium);

  &--starter {
    justify-self: end;
    padding: 46px;
    border: 2px solid var(--color-brand-light-1);
  }

  &--complete {
    position: relative;
    padding: 48px;
    background-color: var(--color-brand-light-1);
    overflow: hidden;

    &::after {
      content: "Best Value";
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px 80px;
      background-color: hsl(47deg 100% 62%);
      color: var(--color-gray-dark);
      font-size: 0.875rem;
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
      transform: translate(30%, 120%) rotate(45deg);
    }
  }

  &__header {
    margin-bottom: 48px;
    text-align: center;
  }

  &__name {
    color: var(--color-brand-dark);
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-bottom: 32px;
  }

  &__price {
    color: var(--color-gray-dark);
    font-size: 3.875rem;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 16px;

    // Currency symbol
    & span {
      margin-right: 8px;
      font-size: 1.875rem;
      font-weight: var(--font-weight-medium);
    }
  }

  &__tagline {
    color: var(--color-gray-accessible-2);
    font-size: 1rem;
    line-height: var(--line-height-paragraph);
  }

  &__sign-up {
    margin-top: 48px;
    text-align: center;
  }
}
