.u-center-text {
  text-align: center;
}

.u-margin-bottom {
  &--sm {
    margin-bottom: 1.5rem;
  }
  &--md {
    margin-bottom: 4rem;
  }
  &--lg {
    margin-bottom: 8rem;
  }
  &--xl {
    margin-bottom: 10rem;
  }
}

.u-margin-top {
  &--sm {
    margin-top: 1.5rem;
  }
  &--md {
    margin-top: 4rem;
  }
  &--lg {
    margin-top: 8rem;
  }
  &--xl {
    margin-top: 10rem;
  }
}

.u-hide-overflow {
  overflow: hidden;
  &-x {
    overflow-x: hidden;
  }
  &-y {
    overflow-y: hidden;
  }
}
