.u-center-text {
  text-align: center;
}

.u-margin-bottom {
  &--sm {
    margin-bottom: 1.5rem;

    @include respond(tab-port) {
      margin-bottom: 1rem;
    }
  }
  &--md {
    margin-bottom: 4rem;

    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }
  &--lg {
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }
  &--xl {
    margin-bottom: 10rem;

    @include respond(tab-port) {
      margin-bottom: 7rem;
    }
  }
}

.u-margin-top {
  &--sm {
    margin-top: 1.5rem;

    @include respond(tab-port) {
      margin-top: 1rem;
    }
  }
  &--md {
    margin-top: 4rem;

    @include respond(tab-port) {
      margin-top: 3rem;
    }
  }
  &--lg {
    margin-top: 8rem;

    @include respond(tab-port) {
      margin-top: 6rem;
    }
  }
  &--xl {
    margin-top: 10rem;

    @include respond(tab-port) {
      margin-top: 7rem;
    }
  }
}

.u-hide-overflow {
  overflow: hidden;
  &-x {
    overflow-x: hidden;
  }
  &-y {
    overflow-y: hidden;
  }
}
