.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-sm;
    }
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    @include respond(tab-port) {
      width: 100% !important;
    }

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-sm;
      }
    }
  }

  @for $max from 2 through 4 {
    @for $part from 1 to $max {
      @include column($part, $max);
    }
  }
}
